{{#each suggestions as |suggestion|}}

  <div id="suggestion-{{suggestion.id}}" class="suggestion m-2 border bg-dark text-light rounded p-2">

    <div class="suggestion-buttons d-flex m-2">
      <button type="button" data-id="{{suggestion.id}}" class="delete-suggestion-button btn btn-danger">Delete</button>

      <!-- UPDATE A SUGGESTION ITEM-->
      <div class="dropdown mx-2">
        <!-- UPDATE A SUGGESTION DROPDOWN BUTTON MENU -->
        <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Update </button>

        <!-- DROPDOWN MENU UPDATE A SUGGESTION -->
        <div class="dropdown-menu">
          <form class="px-4 py-3 d-flex flex-column update-suggestion-form" data-id="{{suggestion.id}}">
            <div class="form-group">
              <textarea required minlength="8" maxlength="64" type="text" placeholder="Write your updated suggestion here" name="suggestion[text]" class="textarea"></textarea>
            </div>
            <input type="submit" data-id="{{suggestion.id}}" value="Update suggestion">
          </form>
          <!-- DROPDOWN MENU UPDATE A SUGGESTION END -->
        </div>
        <!-- DROPDOWN END -->
      </div>
    </div>

    <h4 id="suggestion-text-{{suggestion.id}}" class="suggestion-text m-2 font-italic">{{suggestion.text}}</h4>

  </div>

{{/each}}
